[core]
    excludesFile = ~/.gitignore_global
[alias]
    l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ci = commit
    co = checkout
    br = branch
    last = log -1 HEAD
[user]
    name = "{{ .name }}"
    email = "{{ .email }}"
    signingkey = "{{ .signingkey }}"
[gpg]
    program = gpg
[init]
    defaultBranch = main
[commit]
    gpgsign = true
[credential]
    helper = osxkeychain

