<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternateMouseScroll</key>
	<true/>
	<key>Default Bookmark Guid</key>
	<string>43FB7836-1BAF-4D48-92DA-B3DD2721D72F</string>
	<key>EnableAPIServer</key>
	<true/>
	<key>EnterCopyModeAutomatically</key>
	<true/>
	<key>GlobalKeyMap</key>
	<dict>
		<key>0x19-0x60000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>39</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0x45-0x120000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>28</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>43FB7836-1BAF-4D48-92DA-B3DD2721D72F</string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0x4f-0x120000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>29</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>43FB7836-1BAF-4D48-92DA-B3DD2721D72F</string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0x63-0x100000-0x8</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>0x03</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x68-0x80000-0x4</key>
		<dict>
			<key>Action</key>
			<integer>18</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x6a-0x80000-0x26</key>
		<dict>
			<key>Action</key>
			<integer>21</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x6b-0x80000-0x28</key>
		<dict>
			<key>Action</key>
			<integer>20</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x6c-0x80000-0x25</key>
		<dict>
			<key>Action</key>
			<integer>19</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x72-0x100000-0xf</key>
		<dict>
			<key>Action</key>
			<integer>11</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string>0x12</string>
			<key>Version</key>
			<integer>1</integer>
		</dict>
		<key>0x9-0x40000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>32</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf702-0x380000-0x7b</key>
		<dict>
			<key>Action</key>
			<integer>2</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf703-0x380000-0x7c</key>
		<dict>
			<key>Action</key>
			<integer>0</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf729-0x100000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>5</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf72b-0x100000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>4</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf72c-0x100000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf72c-0x20000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>9</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf72d-0x100000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
		<key>0xf72d-0x20000-0x0</key>
		<dict>
			<key>Action</key>
			<integer>8</integer>
			<key>Label</key>
			<string></string>
			<key>Text</key>
			<string></string>
			<key>Version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_43FB7836-1BAF-4D48-92DA-B3DD2721D72F</key>
	<true/>
	<key>NeverWarnAboutShortLivedSessions_43FB7836-1BAF-4D48-92DA-B3DD2721D72F_selection</key>
	<integer>0</integer>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.27450980392156865</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.15294117647058825</real>
				<key>Red Component</key>
				<real>0.12549019607843137</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.13333333333333333</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.28627450980392155</real>
				<key>Red Component</key>
				<real>0.78823529411764703</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33725490196078434</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.19607843137254902</real>
				<key>Red Component</key>
				<real>0.16078431372549021</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52941176470588236</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40000000000000002</real>
				<key>Red Component</key>
				<real>0.36862745098039218</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.64313725490196083</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.55686274509803924</real>
				<key>Red Component</key>
				<real>0.53725490196078429</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.94509803921568625</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88627450980392153</real>
				<key>Red Component</key>
				<real>0.87450980392156863</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.47843137254901963</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.38823529411764707</real>
				<key>Red Component</key>
				<real>0.61176470588235299</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96078431372549022</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22352941176470589</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59215686274509804</real>
				<key>Red Component</key>
				<real>0.67450980392156867</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.18823529411764706</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54509803921568623</real>
				<key>Red Component</key>
				<real>0.75294117647058822</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81960784313725488</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.5607843137254902</real>
				<key>Red Component</key>
				<real>0.23921568627450981</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.80000000000000004</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.47450980392156861</real>
				<key>Red Component</key>
				<real>0.40000000000000002</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.78823529411764703</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.13333333333333333</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58039215686274515</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.45098039215686275</real>
				<key>Red Component</key>
				<real>0.41960784313725491</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16078431372549021</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.41960784313725491</real>
				<key>Red Component</key>
				<real>0.7803921568627451</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.27450980392156865</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.15294117647058825</real>
				<key>Red Component</key>
				<real>0.12549019607843137</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.27450980392156865</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.15294117647058825</real>
				<key>Red Component</key>
				<real>0.12549019607843137</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Guid</key>
			<string>43FB7836-1BAF-4D48-92DA-B3DD2721D72F</string>
			<key>Horizontal Spacing</key>
			<integer>1</integer>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>HackNFM-Regular 14</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>HackNFM-Regular 14</string>
			<key>Open Toolbelt</key>
			<false/>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>10000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52941176470588236</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40000000000000002</real>
				<key>Red Component</key>
				<real>0.36862745098039218</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<integer>0</integer>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>https://\0</string>
					<key>partial</key>
					<true/>
					<key>regex</key>
					<string>\(#(.*[0-9])\)</string>
				</dict>
			</array>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<integer>1</integer>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/roryoconnor</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.27450980392156865</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.15294117647058825</real>
				<key>Red Component</key>
				<real>0.12549019607843137</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.13333333333333333</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.28627450980392155</real>
				<key>Red Component</key>
				<real>0.78823529411764703</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.33725490196078434</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.19607843137254902</real>
				<key>Red Component</key>
				<real>0.16078431372549021</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52941176470588236</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40000000000000002</real>
				<key>Red Component</key>
				<real>0.36862745098039218</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.64313725490196083</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.55686274509803924</real>
				<key>Red Component</key>
				<real>0.53725490196078429</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.94509803921568625</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.88627450980392153</real>
				<key>Red Component</key>
				<real>0.87450980392156863</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.47843137254901963</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.38823529411764707</real>
				<key>Red Component</key>
				<real>0.61176470588235299</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.96862745098039216</real>
				<key>Red Component</key>
				<real>0.96078431372549022</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.22352941176470589</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.59215686274509804</real>
				<key>Red Component</key>
				<real>0.67450980392156867</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.18823529411764706</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.54509803921568623</real>
				<key>Red Component</key>
				<real>0.75294117647058822</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.81960784313725488</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.5607843137254902</real>
				<key>Red Component</key>
				<real>0.23921568627450981</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.80000000000000004</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.47450980392156861</real>
				<key>Red Component</key>
				<real>0.40000000000000002</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.78823529411764703</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.63529411764705879</real>
				<key>Red Component</key>
				<real>0.13333333333333333</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.58039215686274515</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.45098039215686275</real>
				<key>Red Component</key>
				<real>0.41960784313725491</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16078431372549021</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.41960784313725491</real>
				<key>Red Component</key>
				<real>0.7803921568627451</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.27450980392156865</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.15294117647058825</real>
				<key>Red Component</key>
				<real>0.12549019607843137</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<integer>0</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<integer>1</integer>
			</dict>
			<key>Blend</key>
			<real>0.5</real>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>8.2373394209085049</real>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<integer>1</integer>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.27450980392156865</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.15294117647058825</real>
				<key>Red Component</key>
				<real>0.12549019607843137</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>Recycle</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Guid</key>
			<string>1AC62466-E7EC-4152-A860-56E9D5CA0811</string>
			<key>Has Hotkey</key>
			<false/>
			<key>Horizontal Spacing</key>
			<integer>1</integer>
			<key>HotKey Activated By Modifier</key>
			<false/>
			<key>HotKey Alternate Shortcuts</key>
			<array/>
			<key>HotKey Characters</key>
			<string></string>
			<key>HotKey Characters Ignoring Modifiers</key>
			<string></string>
			<key>HotKey Key Code</key>
			<integer>0</integer>
			<key>HotKey Modifier Activation</key>
			<integer>2</integer>
			<key>HotKey Modifier Flags</key>
			<integer>0</integer>
			<key>HotKey Window Animates</key>
			<false/>
			<key>HotKey Window AutoHides</key>
			<true/>
			<key>HotKey Window Dock Click Action</key>
			<integer>0</integer>
			<key>HotKey Window Floats</key>
			<false/>
			<key>HotKey Window Reopens On Activation</key>
			<false/>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Initial Use Transparency</key>
			<true/>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x74-0x100000-0x0</key>
				<dict>
					<key>Action</key>
					<integer>27</integer>
					<key>Label</key>
					<string></string>
					<key>Text</key>
					<string>1AC62466-E7EC-4152-A860-56E9D5CA0811</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<integer>1</integer>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<integer>0</integer>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Hotkey Window</string>
			<key>Non Ascii Font</key>
			<string>HackNFM-Regular 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>HackNFM-Regular 14</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.70588235294117652</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.61568627450980395</real>
				<key>Red Component</key>
				<real>0.59215686274509804</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.52941176470588236</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.40000000000000002</real>
				<key>Red Component</key>
				<real>0.36862745098039218</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Space</key>
			<integer>-1</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.051593174885228722</real>
			<key>Triggers</key>
			<array>
				<dict>
					<key>action</key>
					<string>iTermHyperlinkTrigger</string>
					<key>parameter</key>
					<string>https://\0</string>
					<key>partial</key>
					<true/>
					<key>regex</key>
					<string>\(#(.*[0-9])\)</string>
				</dict>
			</array>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<integer>1</integer>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>2</integer>
			<key>Working Directory</key>
			<string>/Users/roryoconnor</string>
		</dict>
	</array>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenNoWindowsAtStartup</key>
	<true/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>ShowFullScreenTabBar</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.097079035194174726</real>
	<key>ToolbeltTools</key>
	<array>
		<string>Jobs</string>
	</array>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kTurnOffSlowTriggersOfferUserDefaultsKey</key>
	<false/>
</dict>
</plist>
